.w-md-editor-toolbar {
  --color-fg-default: #7353ea; /* 기본 아이콘 색상 */
  --color-accent-fg: #4f46e5; /* 호버/활성화 상태 */
  --color-danger-fg: #3730a3; /* 클릭 상태 */
  --color-neutral-muted: #e0e7ff; /* 호버/활성화 배경색 */
  width: 100%;
  height: 40px;
}

.w-md-editor-toolbar button svg {
  width: 16px;
  height: 16px;
}

.w-md-editor {
  --md-editor-font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

.w-md-editor-text,
.w-md-editor-text *,
.w-md-editor-preview,
.w-md-editor-preview * {
  font-size: 16px;
  line-height: 1.5;
}
